[Unit]
Description=Send notifications for package updates in yaourt or pacman

[Service]
User=root
ExecStart=/usr/bin/pun

[Install]
WantedBy=pun.timer
