[Unit]
Description=Check for package updates and send mail accordingly

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/pun

[Install]
WantedBy=pun.timer
