[Unit]
Description=Run Pacman Update Notifer every hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Unit=pun.service

[Install]
WantedBy=timers.target
